:host{
display: flex;
width: 783px;
height: 768.308px;
flex-shrink: 0;
border-radius: 21.314px;
background: linear-gradient(134deg, rgba(0, 0, 0, 0.40) 0%, rgba(157, 157, 157, 0.20) 100%);
backdrop-filter: blur(5.264404296875px);
}
