<div *ngIf="loading" class="loading-container">
  <div class="spinner-overlay">
    <app-spinner-loading></app-spinner-loading>
  </div>
</div>
<div class="convert">
  <div class="from-currency">
    <div class="amount-input">
      <label for="Amount">Amount</label>
      <div class="input"><app-input (Amount)="amount($event)"></app-input></div>
    </div>
    <div class="from">
      <label for="From">From</label>
      <div class="select">
        <app-selector
          [flagurl]="flagurl"
          [response]="response"
          (selecteddCurrency)="currencyFrom($event)"
        ></app-selector>
      </div>
    </div>
  </div>
  <div class="to-currency">
    <div class="to">
      <label for="To">To</label>
      <div class="select">
        <app-selector
          [flagurl]="flagurl"
          [response]="response"
          (selecteddCurrency)="currencyTo($event)"
        ></app-selector>
      </div>
    </div>
    <div class="amount-output">
      <label for="Amount2">Amount</label>
      <div class="input">
        <app-input [isdisable]="true" [Result]="Result"></app-input>
      </div>
    </div>
  </div>
</div>
  <app-btn
    [title]="btnName"
    (onClick)="convert(currancyNameFrom, currancyNameTo, Amount)"
    [isdisable]="btnDisabled"
  ></app-btn>

