.input {
  width: 9rem;
}
.select {
  width: 13rem;
}
label {
  color: white;
  display: block;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.from-currency {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
}

.to-currency {
  display: flex;
  margin-top: 15px;
  margin-bottom: 40px;
  justify-content: space-around;
}
@media screen and (max-width: 640px) {
  .convert {
    width: 100vw;

    // height: 100%;

    // background-color: aqua;
    // padding-top: 50px;
    // padding-left: 40px;
    // padding-right: 30px;
  }
  label {
    color: black;
    display: block;
    font-size: 14px;
    // margin-bottom: 15px;
    font-weight: 600;
    // margin: 0px;
    // line-height: normal;
  }
  .from-currency {
    // margin: 0px;
    padding-left: 70px;
    padding-right: 30px;
    margin-top: 30px;
    gap: 10px;
  }

  .to-currency {
    // margin: 0px;
    padding-left: 70px;
    padding-right: 30px;
    margin-top: 40px;
    gap: 10px;
  }
  app-btn {

    // padding-left: 30px;
    // padding-right: 30px;
    display: flex;
    justify-content: center;
  }
  .currency{
    justify-content: flex-start
  }
  .from-currency .input{
    width: 115px;
    margin-left: 24px;
  }
  .to-currency .select{
    width: auto;
    margin-left: 24px;

  }
  .to-currency .input{
    width: 115px;
    margin-right: 57px;
  }
  label[for="Amount"],
  label[for="To"]
  {
  margin-left: 24px;
  }
}
