button{
  width: 25rem;
height: 59px;
flex-shrink: 0;
border-radius: 35.238px;
background: #0E98D0;
color: #FFF;
font-size: 28px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
line-height: normal;

}
@media screen and (max-width: 640px) {
button{
  width:315px;
  height: 48px;
  font-size: 17px;
font-style: normal;
background: #363636;
}
}
