button{
  width: 25rem;
height: 59px;
flex-shrink: 0;
border-radius: 35.238px;
background: #0E98D0;
color: #FFF;
// font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@media screen and (max-width: 600px) {
button{
  width:315px;
  height: 48px;
  font-size: 17px;
font-style: normal;
font-weight: 700;

}  
}