:host{
  // height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/glowing-chart-shows-successful-financial-growth-generated-by-ai\ 1.png");
  background-size: cover;
}

