nav {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  img {
    width: 307px;
    height: 52.489px;
    margin-left: 15px;
  }
}

.background {
  background-image: url("../assets/glowing-chart-shows-successful-financial-growth-generated-by-ai\ 1.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  position: relative;
}

.page-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taps {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1.13981rem;
  padding: 45px 55px ;
  border: 1px solid rgba(255, 255, 255, 0.358);
  background: linear-gradient(134deg, rgba(0, 0, 0, 0.40) 0%, rgba(157, 157, 157, 0.20) 100%);
  backdrop-filter: blur(4.504402160644531px);
  z-index: 100;
}

.page-2{
  height: fit-content;
}

@media screen and (max-width: 640px) {
  .background {
    width: 100%;
    height: 239px;
    fill: linear-gradient(
      180deg,
      rgba(214, 14, 14, 0.4) 0%,
      rgba(217, 217, 217, 0) 100%
    );
  }

  nav img {
    width: 143.439px;
    height: 32px;
    margin-left: 15px;
  }

  .taps {
    height: fit-content;
    backdrop-filter: blur(0px);
    background-color: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 90%;
    border: none;
    background: none;
  }


}
