
nav {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
nav img {
  width: 307px;
  height: 52.489px;
  margin-left: 15px;
}
.background {
  background-image: url("../assets/glowing-chart-shows-successful-financial-growth-generated-by-ai\ 1.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  position: relative;
}

.page-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.taps {
  display: flex;
  flex-direction: column;
  height: 520px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 21.314px;
  backdrop-filter: blur(3px);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
}
.page-2{
  height: 100vh;
}

@media screen and (max-width: 640px) {
 
  .background {
    width: 100%;

    height: 239px;
    fill: linear-gradient(
      180deg,
      rgba(214, 14, 14, 0.4) 0%,
      rgba(217, 217, 217, 0) 100%
    );
  }
  .background nav img {
    width: 143.439px;
    height: 32px;
    margin-left: 15px;
  }
  .taps {
    height: fit-content;
    backdrop-filter: blur(0px);
    background-color: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 90%;

  }
  .taps toggle-btns {
    width: 274.926px;
    height: 46.013px;
  }

  // .page-2{
  //  width: 100vw;
  // padding-left: 25px;
  // padding-right: 25px;
  // }
 
}
