.amount {
  font-size: 25px;
  color: white;
}
.input-filed input {
  border-radius: 19px;
  border: 0.881px solid #c5c5c5;
  background: rgb(227,227,227);
  flex-shrink: 0;
  font-weight: 400;
  font-size: 18px;
  outline: none;
  width: 100%;
  font-weight: 600;
line-height: normal;
  padding-top: 11px;
padding-bottom: 11px;
  padding-left: 12px;
}
@media screen and (max-width: 640px) {
  .input-filed input {

    width: 100%;
    height: 48px;

  }

}
