.amount {
  font-size: 25px;
  color: white;
}
.input-filed input {
  border-radius: 19px;
  border: 0.881px solid #c5c5c5;
  background: #f9f9f9;
  // height: 84.571px;
  flex-shrink: 0;
  font-weight: 400;
  font-size: 18px;
  font-family: Open Sans;
  width: 9.5rem;
  // padding: 5px;
  padding-top: 11px;
padding-bottom: 11px;
  padding-left: 12px;
}
