.amount {
  font-size: 30px;
  color: white;
}
.input-filed input {
  border-radius: 35.238px;
  border: 0.881px solid #c5c5c5;
  background: #f9f9f9;
  height: 84.571px;
  flex-shrink: 0;
  font-size: 38px;
  font-family: Open Sans;
}
