* {
  //   box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// .ground {
//   background-image: url(../assets/images/1.jpeg);
//   width: 100vw;
//   height: 26vh;
//   border-radius: 3px;
// }
// .filter {
//   width: 100vw;
//   height: 25vh;
//   backdrop-filter: blur(4px);
//   border-radius: 2px;
// }
// nav {
//   display: flex;
//   justify-content: left;
//   color: rgb(253, 248, 248);
// }

h1 {
  margin-top: 5%;
  margin-left: 15%;
  font-size: 40px;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 150%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}
.name-currancy {
  color: rgb(140, 136, 136);
}
.currancy {
  color: black;
}
.main-container {
  padding-top: 40px;
  height: 100%;
  // padding-bottom: 60px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: rgb(232, 232, 232);
}
.head {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.artical {
  display: flex;
  // justify-content: space-between;
  //   margin-left: 1%;
  margin-top: 4.5%;
  position: relative;
}
#minicont {
  display: flex;
  // flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-left: 1%;
  margin-top: 5%;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(183, 179, 179, 0.505);
  // border: hight 15px;
  width: 80%;
}

.flex-colum {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  font-size: 20px;
}
.num {
  margin-left: 42%;
  font-size: 27px;
}
.left {
  width: 100%;
}
.miniconts {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}
