* {
//   box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ground {
  // background-image: url(../assets/images/1.jpeg);
  width: 100vw;
  height: 26vh;
  border-radius: 3px;
}
.filter {
  width: 100vw;
  height: 25vh;
  backdrop-filter: blur(4px);
  border-radius: 2px;
}
nav {
  display: flex;
  justify-content: left;
  color: rgb(253, 248, 248);
}

h1 {
  margin-top: 5%;
  margin-left: 15%;
  font-size: 40px;
}
h2 {
  font-family: sans-serif;
  font-size: 200%;
}

.main-container {
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  // gap:20px;
}
.head {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}
.head button {
  border: 1px solid rgb(121, 121, 121);
  border-radius: 50px;
//   padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.head button img {
width: 30px;
padding: 5px;
  }
.artical {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30%;
//   margin-left: 1%;
  margin-top: 7%;
  height: 400px;
}
#minicont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-left: 1%;
  margin-top: 15%;
  height: 21%;
  width: 240%;
  border: 0px solid rgb(183, 179, 179);
}

.flex-colum {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  font-size: 20px;
}
.num {
  margin-left: 42%;
  font-size: 27px;
}
