<!-- <div class="ground">
  <div class="filter">
    <nav>
      <h1>ConCurrency</h1>
    </nav>
  </div>
</div> -->
<div class="main-container">
  <div class="head">
    <h2>live exchange rates</h2>
    <button ><img src="../../../assets/plus1.png"/>Add to Favourite</button>
    <!-- <div>add to fav use display flex</div> -->
  </div>
  <div class="artical">
    <div class="left">
      <h3
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: 150%;
          color: rgb(93, 95, 97);
        "
      >
        My Portofolio
      </h3>
      <div id="minicont">
        <div class="flag"><img src="../assets/1.png" alt=".." /></div>
        <div class="flex-colum">
          <div style="color: black">GBP</div>
          <div style="color: rgb(140, 136, 136)">Currency</div>
        </div>
        <div class="num">1.4</div>
      </div>
      <hr style=" margin-top: 8%; color: rgb(218, 223, 226)" />
      <div id="minicont">
        <div class="flag"><img src="../assets/1.png" alt=".." /></div>
        <div class="flex-colum">
          <div style="color: black">USD</div>
          <div style="color: rgb(140, 136, 136)">Currency</div>
        </div>
        <div class="num">2.73</div>
      </div>
      <hr style=" margin-top: 8%; color: rgb(218, 223, 226)" />
      <div id="minicont">
        <div class="flag"><img src="../assets/1.png" alt=".." /></div>
        <div class="flex-colum">
          <div style="color: black">JPY</div>
          <div style="color: rgb(140, 136, 136)">Currency</div>
        </div>
        <div class="num">0.3</div>
      </div>
    </div>
    <div class="right">
      <h3
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: 150%;
          color: rgb(93, 95, 97);
        "
      >
        My Portofolio
      </h3>
      <div id="minicont">
        <div class="flag"><img src="../assets/1.png" alt=".." /></div>
        <div class="flex-colum">
          <div style="color: black">GBP</div>
          <div style="color: rgb(140, 136, 136)">Currency</div>
        </div>
        <div class="num">1.4</div>
      </div>
      <hr style=" margin-top: 8%; color: rgb(218, 223, 226)" />
      <div id="minicont">
        <div class="flag"><img src="../assets/1.png" alt=".." /></div>
        <div class="flex-colum">
          <div style="color: black">USD</div>
          <div style="color: rgb(140, 136, 136)">Currency</div>
        </div>
        <div class="num">2.73</div>
      </div>
      <hr style=" margin-top: 8%; color: rgb(218, 223, 226)" />
      <div id="minicont">
        <div class="flag"><img src="../assets/1.png" alt=".." /></div>
        <div class="flex-colum">
          <div style="color: black">JPY</div>
          <div style="color: rgb(140, 136, 136)">Currency</div>
        </div>
        <div class="num">0.3</div>
      </div>
    </div>
  </div>
</div>
