<div class="dropdown-wrapper">
<button  *ngIf="!isListOpen" (click)="toggleList()"><img src="../../../assets/plus1.png"/>Add to Favourite</button>
<div [hidden]="isListHidden" id="dropdownContainer" class="dropdown">
  <div class="dropdown-header">
    <h2>My favourite</h2>
    <button (click)="closeDropdown()" class="close-button">×</button>
  </div>
  <div class="dropdown-content">
    <div *ngFor="let currency of response | keyvalue" class="flex-box">
      <div class="flex-countaner">
    <img class="flag" [src]= "flagurl + currency.key.toLowerCase() +'.png'" alt="Flag of Country">
    <div class="flex-column">
    <p>{{currency.key}}</p>
    <p>Currancy</p>

  </div>
</div>
  <input type="checkbox" id="checkBox" class="styled-checkbox"/>
  </div>
  </div>
</div>
</div>
<div *ngIf="isListOpen" class="page-overlay" (click)="closeDropdown()"></div>
  <!-- <img src="https://currencyfreaks.com/photos/flags/pkr.png" alt="Flag of Country"> -->

