
<div class="from-currency">
  <div class="amount-input">
    <label for="Amount">Amount</label>
    <div class ="input"><app-input  (Amount)="amount($event)"></app-input></div>
  </div>
  <div class="from">
    <label  for="From">from</label>
    <div class ="select"><app-selector [flagurl]="flagurl" [response]="response" (selecteddCurrency)="currencyFrom($event)"></app-selector></div>
  </div>
</div>
<div class="to-currency">
  <div class="to">
    <label for="To">Targeted currancy</label>
    <div class ="select"><app-selector [flagurl]="flagurl" [response]="response" (selecteddCurrency)="currencyTo1($event)"></app-selector></div>
  </div>
  <div class="amount-output">
    <label for="Amount">Targeted currancy</label>
    <div class ="select"><app-selector [flagurl]="flagurl" [response]="response" (selecteddCurrency)="currencyTo2($event)"></app-selector></div>
  </div>

  <!-- input -->
</div>
<div class="to-currency">
  <div class="to">
    <div class ="input"><app-input [isdisable]="true" [Result]="Result1"></app-input></div>
  </div>
  <div class="amount-output">
    <div class ="input"><app-input [isdisable]="true" [Result]="Result2"></app-input></div>
  </div>

  <!-- input -->
</div>
<app-btn [title]="btnName" (onClick)="convert(currancyNameFrom, currancyNameTo1,currancyNameTo2, Amount)" [isdisable]="btnDisabled"></app-btn>

