* {
  color: black;
}
.input {
  width: 11rem;
}
.select {
  width: 11rem;
}
label {
  color: white;
  display: block;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.from-currency {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.to-currency {
  display: flex;
  margin-top: 15px;
  margin-bottom: 40px;
  justify-content: space-around;
}


@media screen and (max-width: 640px) {
  * {
    color: black;
  }
  .compare{
    width: 100vw;
    padding-left: 10px;


  }
  .input {
    width: 152px;
    height: 48px;
    margin-right: 22px;

  }

  .to-currency {
    margin: 0px;
    padding: 0px;
    margin-bottom: 18px;
    padding-left: 30px;


  }
  .from-currency {
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    padding-left: 30px;
  }
  label{
    color: black;
    font-weight: 600;
    font-size: 14px;
  }
  app-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}
